body{
    background-image: url(netwk.gif);
}
.signout{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;}
.signout a{
    color: black;
    padding-top: 30px;
}
.txt{
    text-align: center;
    font-size: 50px;
}
.txt1{
    text-align: center;
    font-size: 30px;
}
/* .txt2{
    size: 50px;
} */
.contain3{
    display: flex;
    justify-content: center;
}
.container3{
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.266);
    border-radius: 8px;
    width: 25%;
    background-color: gray;
}